@charset "UTF-8";

.box {
  display: table;
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}
.box > div {
  display: table-cell;
  padding: 20px;
}


.red--box {
  width: 300px;
  background: #ff7b7b;
}
.blue--box {
  background: #7b86ff;
}
.yellow--box {
  width: 300px;
  background: #fff27b;
}

.green--box {
  background: #7bff91;
}
.pink--box {
  width: 400px;
  background: #ff7be2;
}
.orange--box {
  width: 400px;
  background: #ffc67b;
}
.lightblue--box {
  background: #7bf2ff;
}