@charset "UTF-8";
/* 回答はここから */
.list {
  display: flex; /* cardがフレックス要素 */
  justify-content: center; /* コンテンツの幅に合わせて自動で広がる */
}
.card {
  background: #d2b48c;
  width: 200px;
  padding: 10px;
  margin: 30px;
  margin-bottom: 0;
  outline: 10px solid #655;
  box-shadow: 0 0 0 6px #655;
  border-radius: 13px;
  list-style: none;
}

.card:first-child {
  margin-left: 0;
}
.card:last-child {
  margin-right: 0;
}
